.titulo {
    font-size: 24px;
    color: blue;
}

#destacado {
    color: green;
    background-color: yellow;
}

.contenido {
    color: purple;
    margin: 50px;
    border: 100px;
}

#especial {
  background-color: green;
}
