.titulo {
    font-size: 24px;
    color: blue;
}

#destacado {
    color: green;
    background-color: yellow;
}

.contenido {
    color: purple;
    margin: 50px;
    border-radius: 100px;
    background-color: #781f19;
}

#especial {
  color: purple;
  margin: 50px;
  border-radius: 200px;
  background-color: green;
}
